@model BetaClientesVM.Menu.MRoleVM

@{
    ViewBag.Title = "RolesIndex";
    ViewBag.NombreModulo = "Menu";
    ViewBag.TituloPagina = "Roles";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <h3 id="H3Colaborador"></h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-1 mb-4 text-right">
                        <button class="btn btn-sm btn-primary rounded-pill" id="btnAgregar" ><i class="fas fa-plus-circle fa-1x"></i> Agregar</button>
                    </div>

                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="divListaRoles"></div>

        </div>
    </div>
</div>

@*Basic modal*@
<div id="ModalRole" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header headerModal">
                <h5  class="modal-title text-bold"><img src="~/Images/gotas_blancas.svg" alt="Icono" class="mr-2" style="height: 27px; width: 27px;"><span id="modalTitle"></span></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body border-bottom border-top" style="border-color: #ccc;">
                <div class="row">
                    @Html.HiddenFor(model => model.Accion)
                    @Html.HiddenFor(model => model.RoleID)

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "font-weight-bold" })
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>

                    <div id="divPassword" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "font-weight-bold" })
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="modal-footer mt-2">
                <button type="button" class="btn btn-link rounded-pill bg-light" data-dismiss="modal"><i class="fas fa-times"></i> Cerrar</button>
                <button type="button" class="btn btn-primary rounded-pill " id="btnGuardarDatos"><i class="fas fa-save fa-1x"></i> Guardar</button>
            </div>

        </div>
    </div>
</div>
@*Basic modal*@

<script>
    function ConsultarRoles() {
         $.ajax({
             type       : "get",
             url: '@Url.Action("ConsultarRoles", "Menu")',
             contentType: "application/json; charset=utf-8",
         }).done(function (result) {

             $("#divListaRoles").html(result);

             $('table').each(function () {
                 $(this).DataTable().destroy();
                 $(this).DataTable();
             });

         }).fail(function (error) {

             NotificacionBasica("@ViewBag.Title", "Ocurrió un error al consultar la lista de usuarios.", "error");

         });
    }
    ConsultarRoles();

    $("#btnAgregar").on("click", function () {
        const accion = 26;
        var modalTitle = document.getElementById('modalTitle');

        modalTitle.innerText = "Agregar Rol";
        //ConsultarCursos();
        DatosModal(accion);
    });

    function DatosModal(accion) {
        $("#Accion").val(accion);
        $("#RoleID").val('');
        $('#Code').val('');
        $('#Description').val('');
        $("#ModalRole").modal("show");
    }


    function validarCampos() {
        var code = $("#Code").val();
        var description = $("#Description").val();

        if (!code) {
            Swal.fire({
                text: "Ingrese el código del rol.",
                icon: "warning"
            });
            return;
        }
        if (!description) {
            Swal.fire({
                text: "Ingrese la descripción del rol.",
                icon: "warning"
            });
            return;
        }

        return true;
    }

    $("#btnGuardarDatos").on("click", function () {
        if (validarCampos()) {
            AJAXGuardarDatos(ObtenerDatos());
        } else {
            console.log("Error");
        }

    });

    function AJAXGuardarDatos(objRole) {

        console.log(objRole);

        $.ajax({
            type       :    'post',
            url        :    '@Url.Action("GestionarRoles", "Menu")',
            data: JSON.stringify({ objRole: objRole }),
            contentType:    'application/json; charset=utf-8',
        }).done(function (result) {
            ConsultarRoles();
            $("#ModalRole").modal("hide");

            //SI OCURRE UN ERROR
            if (result.resultado == 0) {
                NotificationBasica("@ViewBag.Title", result.mensaje, "error");
            }
        }).fail(function (error) {
            NotificacionBasica("@ViewBag.Title", "No se pudo completar la operación. Por favor, inténtalo de nuevo más tarde.", "error");
        });
    }

    function ObtenerDatos() {
        let objRole = {
            Accion: $("#Accion").val(),
            RoleID: $("#RoleID").val(),
            Code: $("#Code").val(),
            Description: $("#Description").val()
        };
        console.log(objRole);
        return objRole;
    }

    function EditarRol(datos, accion) {
        row = JSON.parse(datos);
        accion = parseInt(accion);

        $("#Accion").val(accion);
        $("#RoleID").val(row.RoleID);
        $("#Code").val(row.Code);
        $("#Description").val(row.Description);

        var modalTitle = document.getElementById('modalTitle');

        modalTitle.innerText = "Editar Rol";

        $("#ModalRole").modal("show");
    }

     function MensajeEliminacion(datos) {
        row = JSON.parse(datos);

         swalInit.fire({
             title: '@ViewBag.TituloPagina',
             html: "<br>Se eliminara <b>" + row.Description + "</b><br> ¿Deseas Continuar?",
             icon: 'question',
             showCancelButton: true,
             confirmButtonText: '<i class="fas fa-check"></i> Si, estoy de acuerdo!',
             cancelButtonText: '<i class="fas fa-times"></i> No, cancelar!',
             buttonsStyling: false,
             customClass: {
                 confirmButton: 'btn btn-primary rounded-pill',
                 cancelButton: 'btn btn-danger rounded-pill'
             }
         }).then(function (result) {
             if (result.value) {
                 let objRole = {
                     Accion: 28,
                     RoleID: row.RoleID,
                     Code: row.Code,
                     Description: row.Description
                 };
                 AJAXGuardarDatos(objRole)
             }
         });

    }
</script>